@font-face {
    font-family: "calculator";
    src: url(fonts/calc-font.ttf);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border: 0px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px 2px darkgray;
    padding: 10px;
    font-weight: bold;
    font-family: "Monaco", monospace;
    font-size: 20px;
    color: #404040;
}

button:active {
    box-shadow: 0 0 0 0;
    border: 3px inset dimgray;
    border-top: 0.5px inset gray;
    border-right: 1px inset gray
}

button:hover {
    background-color: azure;
}

.screen {
    background-color: lightblue;
    width: 230px;
    height: 50px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 5px inset darkgray;
    border-top: 1px outset gray;
    border-right: 0.5px inset darkgray;
    text-align: right;
    font-size: 50px;
    font-family: "calculator";
    text-shadow: 2px 3px 3px cadetblue;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 425px;
    background-color: silver;
    box-shadow: 3px 3px 10px 3px gray;
    border: 6px outset darkgray;
    border-top: 0px outset darkgray;
    border-left: 0px outset darkgray
}

.buttons, .functions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.functions {
    padding: 0;
    width: 250px;
}

.functions button {
    padding: 5px;
    height: 25px;
    font-size: 10px;
    color: black;
}
