body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border: 0px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px 2px darkgray;
    padding: 10px;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 0 0;
    border: 3px inset dimgray;
    border-top: 0px inset dimgray;
    border-right: 1px inset dimgray
}

.screen {
    background-color: lightblue;
    width: 250px;
    height: 70px;
    margin: 20px;
    border-radius: 5px;
    border: 5px inset darkgray;
    border-top: 1px inset darkgray;
    border-right: 0.5px inset darkgray
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 425px;
    background-color: silver;
    box-shadow: 3px 3px 10px 3px gray;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.functions button {
    padding: 5px;
    height: 25px;
}